{
  "env": {
    "commonjs": true,
    "node": true,
    "mocha": true
  },
  "extends": "standard",
  "ignorePatterns": [
    "**/node_modules/**/*"
  ],
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "camelcase": "off",
    "comma-dangle": "off",
    "indent": [
      "error",
      4
    ],
    "prefer-const": [
      "error",
      {
        "destructuring": "any",
        "ignoreReadBeforeAssign": false
      }
    ],
    "padded-blocks": "off",
    "space-before-function-paren": [
      "error",
      "never"
    ],
    "new-cap": "off"
  },
  "overrides": [
    {
      "files": [
        "**/test/*.js"
      ],
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ]
}